@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    user-drag: none; 
    user-select: none;
    transition: 1s;
    }

#main{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    width: 95%;
    }

#top{
    margin-top: 50px;
    }

#bottom{
    margin-top: 20px;
    }

#table{
    width: 45%;
    text-align: center;
    }

#buttons{
    width: 45%;
    text-align: center;
    }

#bottons:img {
    margin-bottom: 20px;
    }

#formx{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    }


